// Colors
$info: #00aeff;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$secondary: #ffffff;
$text-black: #000000;
$primary: #49c5b6;
$tertiary: #df6c4f;

// Media screens
$md: 959px;
$lg: 1279px;
$xl: 1919px;
